.cart__content__container {
  position: relative;
  width: 500px;
  height: auto;
  min-height: 100px;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.cart__row {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 20%;
  align-items: center;
}
